.team-manager {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
